:root {
	--bg-primary: #141414;
	--text-red: #ff5757;
	--text-gray: #cecece;
	--text-white: #ffffff;
	--border-bg: #797979;
	-bg-white-opacity-low: #ffffff4a;
	-bg-black-opacity-low: #1212124a;
}

.scroll-counter {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 3.8rem;
	height: 3.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.4s ease;
}

.scroll-counter img {
	animation: dance ease 0.8s;
}

@keyframes dance {
	0% {
		transform: rotate(60deg);
	}

	50% {
		transform: rotate(-80deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.progressBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	background-color: var(--text-red);
}

.main-app {
	position: relative;
}

@media only screen and (max-width: 500px) {
	.scroll-counter {
		width: 2.8rem;
		height: 2.8rem;
	}

	.scroll-counter img {
		width: 50%;
	}
}
